:root {
  --main-font: "Ubuntu", sans-serif;
  --blue: #6c87ff;
  --light-blue: #cbd4ff;
  --white: #fff;
}

body {
  background: var(--blue);
  font-family: var(--main-font);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#clima-container {
  background: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

h2,
label,
p {
  color: var(--white);
  margin: 8px 0;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--white);
  margin-top: 20px;
}

button {
  background: var(--light-blue);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.034);
}

button:hover {
  background: var(--blue);
}

#temperatura p {
  font-size: 60px;
  margin-top: -30px;
}

#climaInfo {
  font-size: 20px;
}

#climaIcon {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

#previsaoHorario {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.horario-item {
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 25px;
  color: var(--white);
}

.horario-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

#horario-heading {
  color: var(--white);
  margin-top: 10px;
}

#background-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  opacity: 0.4;
  filter: blur(8px);
}

@media (max-width: 600px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  #clima-container {
    width: 100%;
    max-width: 90%;
    padding: 15px;
  }

  h2 {
    font-size: 22px;
  }

  #climaIcon {
    width: 150px;
    height: 150px;
  }

  #temperatura p {
    font-size: 40px;
  }

  #climaInfo {
    font-size: 16px;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    width: 80%;
    font-size: 16px;
  }

  #previsaoHorario {
    margin-top: 30px;
  }

  .horario-item {
    width: 60px;
    font-size: 12px;
  }

  .horario-item img {
    width: 24px;
    height: 24px;
  }
}
